/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #131d28; /* Dark background color */
  color: #ffffff; /* Navbar text color */
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif; /* New font */
  animation: slideDown 0.5s ease-in-out; /* Slide down animation */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-brand a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #f30404; /* New color for logo */
  transition: color 0.3s ease;
}

.logo-brand a:hover {
  color: #f30404; /* Hover color for logo */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav ul li {
  position: relative;
}

nav ul li a {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #f30404; /* Hover color for links */
}

nav ul li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f30404;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

nav ul li:hover::after {
  width: 100%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}